body {
  font-family: "Noto Sans Mono", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

h4 {
  font-size: 1em;
  margin: 0.25em 0;
}

.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}