body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

tbody {
  background-color: lightpink;
}

thead {
  background-color: slateblue;
  font-size: 2em;
}

.icon rect {
  fill: pink;
}

#rect1 {
  fill: steelblue;
}

#rect2 {
  fill: pink;
}

#rect3 {
  fill: red;
}

#rect4 {
  fill: cyan;
}

#weird_triangle {
  fill: purple;
}